* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
body {
    background-color: rgb(0, 0, 0);
}

h1 {
    margin: 20px;
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    margin: 10px;
}

li {
    font-size: 1.2rem;
}

/* Navigation Bar */
nav {
    display: flex;
    position: sticky;
    justify-content: center;
    margin: 30px;
    padding: 30px;
    top: -10px;
    background-color: rgb(15, 77, 211);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 98%;
}

nav li {
    color: rgb(255, 255, 255);
    background-color: rgb(19, 17, 150);
    display: block;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 1.5rem;
    width: 115px;
}

nav li:hover {
    border: 1px solid rgb(10, 119, 192);
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

/* Alert */
#alert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 20px;
    background-color: rgba(0, 217, 255, 0.856);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

/* Main */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list li{
    text-align: left;
}